
ConnectDataCasa.h

ConnectDataCell.h

ConnectDataIFRN.h

AIPO/include/DadosMqtt _casa.h

AIPO/include/DadosMqtt_casa.h

AIPO/include/DadosMqtt_IFRN.h

AIPO/lib/PN532_

AIPO/include/README

AIPO/lib/README

AIPO/test/README
